.input {
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 0;
    height: 50px;
    color: #ffffff;
    padding: 10px 20px;
    width: 100%;
}

.input::placeholder {
    color: #aaaaaa;
    opacity: 1;
}