.button {
    border-radius: 0; 
    border: 3px solid #ffffff; 
    color: #ffffff;
    background-color: #000000;
    padding: 12px 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px #ffffff; /* Efeito 3D blocky */
}

.button:hover {
    background-color: #333333; 
    box-shadow: 2px 2px 0px #ffffff;
}

.button:active {
    background-color: #111111;
    box-shadow: none;
    transform: translate(2px, 2px);
}