.button {
    /* Novo Estilo: Fundo de Acento (Marrom/Terracota), Borda e Sombra Pretas */
    border-radius: 0;
    border: 3px solid #000000;
    color: #F7EEDD;
    /* Texto claro/bege */
    background-color: #A35E49;
    /* Cor de acento: Marrom */
    padding: 12px 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    /* Adicionado transição para suavizar o hover/active */
    text-transform: uppercase;
    box-shadow: 4px 4px 0px #000000;
    /* Efeito 3D blocky com sombra preta */
}

.button:hover {
    background-color: #C17C64;
    /* Marrom mais claro no hover */
    box-shadow: 2px 2px 0px #000000;
}

.button:active {
    background-color: #A35E49;
    box-shadow: none;
    transform: translate(4px, 4px);
    /* Pressiona o botão na tela */
}