.logo {
  background-color: #F7EEDD;
  border: 4px solid #000000;
  border-radius: 0;
  display: inline-block;
  height: 100px;
  width: 250px;
  position: relative;
}

.logo .text-wrapper {
  color: #000000;
  border-radius: 0;
  font-family: 'Arial Black', sans-serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}