.navbar {
    align-items: center;
    background-color: #2B2B24;
    color: #F7EEDD;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 16px 40px;
    border-bottom: 3px solid #000000;
    height: 65px;
}

.navbar .close {
    background-color: #A35E49;
    color: #F7EEDD;
    border: 3px solid #000000;
    border-radius: 0;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    line-height: 1;
    box-shadow: 2px 2px 0px #000000;
}

.navbar .close:hover {
    background-color: #C17C64;
    box-shadow: 1px 1px 0px #000000;
}