.navbar {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 16px 40px;
    border-bottom: 3px solid #ffffff;
    height: 65px;
}

.navbar .close {
    /* Botão de Logout com estilo blocky de acento (vermelho) */
    background-color: #ff4d4d;
    color: #000000;
    border: 3px solid #ffffff;
    border-radius: 0;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 1;
    box-shadow: 2px 2px 0px #ffffff;
}

.navbar .close:hover {
    background-color: #cc0000;
}